@font-face {
  font-family: 'Circular-Std-Book';
  src: url('/fonts/webfonts/CircularStd-Book.eot');
  src: url('/fonts/webfonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/CircularStd-Book.woff2') format('woff2'),url('/fonts/webfonts/CircularStd-Book.woff') format('woff'),url('/fonts/webfonts/CircularStd-Book.ttf') format('truetype');
}
 